<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>TumbleGamer</string>
	<key>Builder Version</key>
	<string>12607.2.6.1.2</string>
	<key>CFBundleDisplayName</key>
	<string>BCTexturePackManager</string>
	<key>CFBundleIdentifier</key>
	<string>com.bcmc.bctexturepackmanager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleVersion</key>
	<string>2.1.0.150</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
		<key>Global Page</key>
		<string>bg/background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup/popup.html</string>
				<key>Identifier</key>
				<string>popup</string>
				<key>Width</key>
				<integer>500</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>bctpm-toolbaritem</string>
				<key>Image</key>
				<string>logo-64.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Texture Pack Manager</string>
				<key>Popover</key>
				<string>popup</string>
			</dict>
		</array>
	</dict>
	<key>Companion Bundle Identifier</key>
	<array>
		<string>bctpm</string>
	</array>
	<key>Description</key>
	<string>An extension that lets you switch between, themes to use on Box Critters!</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>boxcritters.com/*</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
